:root{
  --color-black: #000000;
  --color-black-opacity: rgba(0, 0, 0, .3);
  --color-white: #ffffff;
  --color-white-opacite: rgba(255, 255, 255, .3);
  --color-grey: #EEEEEE;
  --color-grey-dark: #DFDFDF;
  --color-grey-extra-dark: #D5D5D5;
  --color-red: #FB565A;
  --color-red-dark: #E74246;
  --color-red-extra-dark: #D7373B ;
  --color-green: #00CA74;
  --color-green-dark: #00BC6C;
  --color-green-extra-dark: #00AA62;
  --color-yellow: #EFC84A;
  --color-yellow-dark: #EAB534;
  --color-yellow-extra-dark: #E5A722;

}


body {
  min-width: 960px;
  margin: 0px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  list-style: none;
}


header{
  text-transform: uppercase;
  color: black;
  background-color: var(--color-grey);
  padding:5px;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


.header-nav {
  word-spacing: 44px;
  margin: 75px;
  display: inline-block;
  text-align: justify;
}
.header-nav li{
  display: inline-block;
  text-align: justify;
}


.a {
  text-decoration: none;
  color: black;
  line-height: 30px;
  font-weight: 500;
}
.a:hover {
  color: var(--color-red);
}
.a:active{
  color: #989898;
}


.slides{
  background-color: var(--color-grey);
  padding: 80px;
}
.slides h3{
  text-align: left;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.firstSlide{
  background-image: url('img/nerds-index-slide1 1.png');
}
.secondSlide{
  background-image: url('img/nerds-index-slide2 1.png');
}
.thirdSlide{
  background-image: url('img/nerds-index-slide3 1.png');
}
.slide{
  background-size: 760px 431px;
  background-position: top right;
  background-repeat: no-repeat;
  list-style: none;
}
.slide a {
  color: var(--color-white);
  font-weight: 500;
  line-height: 18px;
  background-color: var(--color-red);
}
.slide a:hover{
  background-color: var(--color-red-dark);
}
.slide a:active{
  background-color: var(--color-red-extra-dark);
  color: var(--color-white-opacite);
}
.slide p{
  text-align: left;
}


.services{
  padding: 80px;
}
.services li{
  display: inline-block;
}
.services h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
.services li {
  display: inline-block;
  text-align: justify;
  /*margin-left: 100px;
  margin-right: 150px;*/
}
.service-button {
  color: var(--color-white);
  border-radius: 3px;
  text-align: center;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--color-red);
}
.service-button:hover{
  background-color: var(--color-red-dark);
}
.service-button:active{
  background-color: var(--color-red-extra-dark);
  color: var(--color-white-opacite);
}
.service-button--green {
  background-color: var(--color-green);
}
.service-button--green:hover{
  background-color: var(--color-green-dark);
}
.service-button--green:active{
  background-color: var(--color-green-extra-dark);
  color: var(--color-white-opacite);
}
.service-button--yellow{
  background-color: var(--color-yellow);
  width: 160px;
  height: 50px;
}
.service-button--yellow:hover{
  background-color: var(--color-yellow-dark);
}
.service-button--yellow:active{
  background-color: var(--color-yellow-extra-dark);
  color: var(--color-white-opacite);
}


.info {
  padding: 80px;
  text-align: left;
  width: 50%;
}
.info h2{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.info span {
  font-weight: 700;
  text-transform: uppercase;
}

.info_our-achievements aside{
  display: inline-block;
  vertical-align: top;
}

.our-achievements p{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
}
.our-achievements dt{
  line-height: 18px;
}
.our-achievements dd{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.examples-of-works li{
  display: inline-block;
}

footer li {
  display: inline-block;
  text-align: justify;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.map{
  margin: 0px;
  padding: 0px;
}

.footer-a{
  display: block;
  width: 81px;
  height: 81px;
  background-color: #E1E1E1;
  border-radius: 50%;
}

/*SECOND PAGE*/
.gray-header h1{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  background-color: var(--color-grey);
  padding: 80px;
  margin-top: -100px;
}

.sort{
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.sort fieldset {
  border: none;
  width: 260px;
}

.sort button {
  width: 260px;
  height: 50px;
  background-color: var(--color-grey);

  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  border: none;
}

.sort-bold-text{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.our-project li {
  display: block;
  list-style: none;
  padding-bottom: 30px;
  border-radius: 50%;
}

.sort-by-cost-type-name li{
  list-style: none;
  color: var(--color-grey);
}

.sort-by-cost-type-name li a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  color: var(--color-black-opacity);
  text-decoration: none;
          /*
          display: flex;
          align-items: center;
          text-transform: uppercase;
          */
}

.our-project button {
  color: var(--color-white);
  border-radius: 3px;
  text-align: center;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--color-red);
}
.our-project button:hover{
  background-color: var(--color-red-dark);
}
.our-project button:active{
  background-color: var(--color-red-extra-dark);
  color: var(--color-white-opacite);
}
